* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: #000925;
}

main {
  padding: 1rem;
}

h1,
h2 {
  color: #eee;
}

h3 {
  padding-bottom: 2rem;
  color: #000105;
  font-size: 1.8rem;
}

button {
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #6720ca;
  border: none;
  color: #f8f8f8;
}

.btn-disabled {
  background-color: lightgray;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #000105;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.li-hover:hover {
  background-color: #d8d8d8;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: #000925;
}

.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.quiz-container {
  background-color: #f8f8f8;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.quiz-container img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 8px;
  height: 240px;
}

.container p {
  padding: 8px 0;
}

.trait-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

.trait-name {
  font-weight: bold;
}

.trait-value {
  color: #fff;
  padding: 0.5rem;
  background-color: #0d8378;
  border-radius: 4px;
  text-align: right;
}

.trait-description {
  color: #666;
  font-size: 0.8em;
  margin-top: 5px;
}

.trait-lable {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
